/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2018-05-07 16:36:31 */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #e4e4e4;
    height: 37px;
    background: #fff url(../../images/select-bg.svg) no-repeat 100% 48%;
    background-size: 30px 60px;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
}
#newsletter_popup {
    display: none;
}

.icon-right-open:before {
    content: '\e81a';
}
.icon-left-open:before {
    content: '\e819';
}

.header-container.type19 .main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li >a.level1 {
    color: #141a1f;
}
.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-prev {
    left: -125px;
}
.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-next {
    right: -125px;
}
.owl-middle-narrow .owl-controls .owl-buttons div {
    font-size: 80px;
}
.home-banner-content {
    padding-bottom: 30px;
}
.home-banner-content .item img {
    max-width: 100%;
}
.home-banner-content .item {
    transition: all 0.3s;
    margin-bottom: 30px;
}
.home-banner-content .item:hover {
    box-shadow: 0 8px 35px -10px rgba(0, 0, 0, 0.3);
}
.home-banner-content .item .content {
    background-color: #fff;
    padding: 10px;
}
.home-banner-content .item .content h3 {
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #111111;
    font-weight: 400;
    padding: 18px 0 8px;
}
.home-banner-content .item .content span {
    font-size: 13px;
    line-height: 24px;
    color: #7b7f83;
    padding-bottom: 28px;
    display: block;
}
div.filter-title, h2.filter-title {
    background: none;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 700;
    padding-bottom: 7px;
}
div.filter-title .content, h2.filter-title .content {
    background: none;
    padding: 0;
}
.parallax-container .parallax-content > .container {
    position: relative;
}
.parallax-container .content {
    position: absolute;
    top:-28px;
    left:15px;
    z-index: 3;
    background-color: #0e0e0e;
    padding: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    min-width: 307px;
}
.parallax-container .content h2 {
    font-family: 'Oswald';
    font-size:48px;
    font-weight:300;
    color:#fff;
    margin-bottom: 28px;
}
.parallax-container .content em {
    font-size:17px;
    font-weight:400;
    font-style:normal;
    color:#fff;
    letter-spacing: 0.05em;
    display:block;
    padding-bottom: 6px;
    padding-top: 8px;
}
.parallax-container .content .btn-default{
    font-family: 'Oswald';
    border: solid 2px #2c2c2c;
    background-color:#0e0e0e;
    padding: 9px 19px;
    font-size: 14px;
    letter-spacing:0.05em;
    border-radius:2px;
    box-shadow: none;
    font-weight: 400;
    margin-bottom: 25px;
}
.category-products .products-grid.masonry-grid {
    margin: 0 -1.5px;
}
.masonry-grid .grid {
    width: 20%;
    float: left;
    padding: 0 1.5px;
}
.masonry-grid .grid.double{
    width: 39.9%;
}
.category-products .masonry-grid .item {
    padding: 1.5px 0;
    position: relative;
}
.category-products .masonry-grid .product-image img.hoverImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.category-products .masonry-grid .item .details-area{
    display: none;
}
.category-products .masonry-grid .item .product-image-area .actions {
    display: none;
}
.category-products .masonry-grid .grid.double .item .details-area .actions {
    position: absolute;
    right: 0;
    top: 5px;
}
.box-up-sell.category-products .products-grid li.item .details-area .actions {
    margin: 0;
    position: absolute;
    right: 0;
    top: 21px;
}
.box-up-sell.category-products .products-grid li.item .details-area {
    position: relative;
}
.box-up-sell.category-products .products-grid li.item .details-area .actions a {
    position: static;
    visibility: visible;
    opacity: 1;
    filter: Alpha(Opacity=1);
    border: 0;
    color: #dfdfdf;
    margin: 0;
    margin-top: 2px;
    font-size:20px;
}
.category-products .masonry-grid .grid.double .item .details-area .actions a.addtowishlist {
    opacity: 1;
    border: 0;
    right: 18px;
    visibility: visible;
    font-size: 20px;
}
.category-products .masonry-grid .grid.double .item .details-area{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 27px;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s;
}
.category-products .masonry-grid .grid.double .item:hover .details-area{
    opacity: 1;
    visibility: visible;
}
.category-products .products-grid li.item {
    padding-bottom: 25px !important;
}
.product-image-area {
    overflow: visible;
}
a.quickview-icon {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Oswald";
    letter-spacing: 0.2em;
    padding: 15px 19px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    right: auto;
    margin-left: -60px;
}
a.quickview-icon > i {
    display: none;
}
.filter-products .products:not(.small-list) .item .product-image-area .product-image:before,
.category-products .products-grid .item .product-image-area .product-image:before {
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 0.3s;
}
.filter-products .products:not(.small-list) .item:hover .product-image-area .product-image:before,
.category-products .products-grid .item .item-area:hover .product-image-area .product-image:before {
    opacity: 0.2;
    visibility: visible;
}
.product-image-area .actions {
    bottom: -59px;
    text-align: right;
    padding: 0;
    opacity: 1;
    visibility: visible;
    width: auto;
    right: -5px;
    left: auto;
}
.product-image-area .actions a {
    background-color: transparent;
    border: 0;
    color: #dfdfdf;
    font-size: 20px;
}
.icon-wishlist:before {
    content: '\e88a';
}
.filter-products .products:not(.small-list) div.item .details-area,
.category-products .products-grid div.item .details-area,
.category-products .products-grid li.item .details-area {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
.filter-products .products:not(.small-list) div.item .item-area:hover .actions a,
.category-products .products-grid div.item .item-area:hover .actions a,
.category-products .products-grid li.item .item-area:hover .actions a {
    color: #2a2c30;
}
.filter-products .products:not(.small-list) div.item .details-area .product-name,
.category-products .products-grid div.item .details-area .product-name,
.category-products .products-grid li.item .details-area .product-name {
    padding-right: 30px;
    margin: 0;
}
.filter-products .products:not(.small-list) div.item .details-area .product-name a,
.category-products .products-grid div.item .details-area .product-name a,
.category-products .products-grid li.item .details-area .product-name a {
    letter-spacing: 0.025em;
    color: #4a5157;
    font-size: 14px;
}
.configurable-swatch-list {
    margin-top: 10px;
}
.price-box .price {
    color: #252525;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 18px;
}
.regular-price .price {
    color: #252525;
    font-weight: 400;
}
.old-price {line-height: 1;}
.old-price .price {
    font-size: 18px;
    color: #6e6e6e;
    font-weight: 400;
}
.special-price .price {
    color: #252525;
}

.top-container >.breadcrumbs {
    padding: 18px 0 0;
}
.breadcrumbs li.home a {
    width: 15px;
    display: inline-block;
    text-indent: 30px;
    overflow: hidden;
    position: relative;
}
.breadcrumbs li.home a:after {
    content: "\e883";
    font-family: 'porto';
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}
.catalog-category-view .col2-left-layout .col-left.sidebar:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 12px;
    border: solid 1px #eee;
    top: 0;
    bottom: 0;
    border-radius: 2px;
}
.block-category-nav {
    margin-bottom: 0;
}
.block-layered-nav dt, .block-layered-nav .currently .block-subtitle, .block-category-nav .block-title {
    font-family: 'Oswald';
    border: none;
    background-color:transparent;
    padding: 16px 20px 4px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    letter-spacing: 0.01em;
}
.block-category-nav .category-list a.plus .icon-plus-squared:before {
    content: '\e873';
}
.block-category-nav .category-list a.plus .icon-minus-squared:before {
    content: '\e874';
}
.block-category-nav .category-list a.plus {
    font-size: 11px;
    right: -3px;
    color: #21293c;
}
.block-category-nav .block-title {
    padding: 30px 20px 0 20px;
}
.block-category-nav .block-title strong {
    font-weight: 400;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before {
    right: 11.6px;
}
.block-layered-nav dd, .block-category-nav .block-content{
    border: none;
    background-color: transparent;
    padding: 10px 20px 26px 20px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
}
.block-category-nav .block-content{
    padding-bottom: 24px;
}
.block.block-layered-nav {
    margin-bottom: 10px;
    margin-top: 0;
}
.block.block-layered-nav  .block-title {
    padding: 0 20px;
    margin-bottom: -15px;
    margin-top: 25px;
    text-transform: uppercase;
}
.block-layered-nav .currently ol{
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 20px;
}
.block-layered-nav .currently li {
    padding: 5px 20px 5px 20px;
}
.block-layered-nav .actions {
    border: none;
    background-color: transparent;
    border-bottom: #efefef solid 1px;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 35px;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
    right: 0;
    color: #21293c;
}
.block-layered-nav .actions a {
    color: #21293c;
}
#narrow-by-list dd .swatch-label {
    background-color: #fff;
    border: solid 1px #e9e9e9;
}
#narrow-by-list dd .swatch-link:hover .swatch-label {
    border-color: #08c;
    background-color: #08c;
    color: #fff;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before{
    content:'\e81c';
    border: 0;
    color: #21293c;
    font-size: 17px;
    margin-top: -5px;
}
.block-category-nav .block-title:before{
    margin-top: 2px;
}
.block-layered-nav dt.closed:before, .block-category-nav .block-title.closed:before{
    content:'\e81b';
}
.block-layered-nav dt:hover:before, .block-category-nav .block-title:hover:before {
    background-color: transparent !important;
    color: inherit;
}
.block-category-nav .category-list a,
.block-layered-nav dd a {
    font-size: 14px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #7a7d82;
}
.price-filter-slider .text-box input.go {
    border-radius: 0;
}
.price-filter-slider .text-box {
    margin: 0 -5px;
}
.sidebar h2.sidebar-title {
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom:20px !important;
    padding-top: 30px;
}
.sidebar .custom-block {
    background-image: none;
    border-bottom: solid 1px #efefef;
    margin-bottom: 30px;
    padding: 0 20px 15px;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5{
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p{
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.category-image {
    margin: 0 0 25px;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.toolbar .sorter {
    margin-bottom: 20px;
}
.sorter .view-mode i {
    border: none;
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: #000;
}
.toolbar .sorter .sort-by select {
    min-width: 100px;
    margin-right: 10px;
}
.icon-mode-grid:before{
    content: "\e880";
}
.icon-mode-list:before{
    content: "\e87b";
}
.sorter .view-mode strong i, .sorter .view-mode a:hover i {
    background-color: transparent;
    color: #000;
}
.sorter .sort-by {
    margin-bottom: 0;
}
.sorter .view-mode {
    float: right;
    margin: 0;
    margin-right: 0;
    line-height: 29px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
.toolbar-bottom .pager .pages {
    display: block;
}
.pager li >a, .pager li >span {
    background: transparent;
    color: #706f6c;
    border: 0;
    line-height: 29px;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
.pager .pages li {
    background: none !important;
    height: 32px;
    line-height: 30px;
    width: 32px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px #e9e9e9;
    font-weight: 600;
}
.pager .pages li a {
    color: #706f6c;
    background: none;
}
.toolbar .pages {
    display: none;
}
.toolbar-bottom {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.toolbar-bottom .toolbar {
    width: 100%;
}
.toolbar-bottom .pages {
    display: block;
}
.toolbar-bottom .sorter .limiter {
    float: left;
}
.pager .pages li .icon-right-dir:before {
    content: '\e81a';
}
.pager .pages li .icon-left-dir:before {
    content: '\e819';
}
.pager .pages li a.i-next, .pager .pages li a.i-previous {
    color: #78755c;
    font-size: 20px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
    background: none;
}
.pager li >a:hover {
    background-color: transparent;
}
.pager .pages .current {
    color: #706f6c;
}

.product-view .product-img-box li.etalage_thumb, .product-view .product-img-box li.etalage_small_thumbs li {
    padding: 0;
    border-color: #eee;
    border-radius: 2px;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active {
    border-color: #111;
    position: relative;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #111;
}
.product-view .product-img-box .etalage-control a.etalage-next {
    right: 7px;
}
.glyphicon-search:before {
    content: '\e873';
    font-family: 'porto';
    font-size: 14px;
    color: #21293c;
}
.product-view .product-name h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #4a5157;
    margin: 0 0 15px;
}
.quickview-index-view .product-view .product-name h1 {
    margin: 15px 0;
}
.prev-next-products .product-nav {
    padding-bottom: 10px;
}
.prev-next-products a {
    line-height: 23px;
}
.ratings .rating-links .separator,.ratings .rating-links .separator + a {
    display: none;
}
.product-view .product-shop .short-description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border-bottom: solid 1px #dae2e6;
}
.product-view .product-info, .product-options-bottom {
    border-bottom: none;
}
.product-view .product-shop .price-box .regular-price .price {
    font-size: 21px;
    font-weight: 400;
    color: #252525;
}
.product-view .product-shop .price-box .special-price .price {
    font-size: 21px;
    font-weight: 400;
    color: #252525;
}
.product-view .product-shop .price-box .old-price .price {
    font-size: 14px;
    line-height: 1;
}
.product-view .product-shop .availability {
    color: #7b858a;
    font-weight: 400;
}
.product-view .product-options .swatch-attr label {
    text-transform: uppercase;
    color: #21293c;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.005em;
}
.product-view .product-options .swatch-attr label .select-label {
    text-transform: capitalize;
    color: inherit;
}
.product-view .product-shop .short-description .std {
    line-height: 27px;
}
.qty-holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 104px;
    position: relative;
    text-align: center;
}
.add-to-cart .qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #21293c;
    margin: 0;
    border-color: #eee;
}
.qty-changer {
    display: block;
}
.qty-changer >a {
    position: absolute;
    top: 0;
    width: 30px;
    height: 43px;
    border: solid 1px #eee;
    line-height: 41px;
    font-size: 11px;
    color: #111;
}
.qty-changer .qty_inc {
    right: 1px;
}
.qty-changer .qty_inc i:before {
    content: '\e873';
}
.qty-changer .qty_dec {
    left: 1px;
}
.qty-changer .qty_dec i:before {
    content: '\e874';
}
.add-to-cart button.button {
    height: 43px;
}
.add-to-cart button.button span {
    height: 43px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
    line-height: 43px;
}
.add-to-cart button.button span i {
    font-size: 23px;
    vertical-align: middle;
    margin-top: -6px;
    display: inline-block;
}
.add-to-cart button.button span i:before {
    content: '\e876';
}
.product-view .add-to-links {
    margin: 0;
}
.product-view .add-to-links a {
    width: 43px;
    height: 43px;
    line-height: 41px;
}
.product-view .add-to-links .link-wishlist i:before{
    content: '\e88a';
}
a.addtowishlist, .link-wishlist, a.comparelink, .link-compare,
a.addtowishlist:hover, .link-wishlist:hover, a.comparelink:hover, .link-compare:hover{
    border-color:#d8d8d6;
    color: #302e2a;
}
.product-tabs>ul li {
    border: none;
    background: none;
    border-right:0;
}
.product-tabs>ul li.active {
    border-bottom: #0088cc;
    background-color: transparent;
}
.product-tabs>ul li a {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 14px;
    margin-right: 37px;
    color: #818692;
    text-transform: uppercase;
}
.product-tabs>ul li.active a {
    color: #21293c;
    position: relative;
}
.product-tabs>ul li.active a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #111;
    left: 0;
    right: 0;
    bottom: 0;
}
.product-tabs .tab-content {
    border:none;
    border-top: solid 1px #dae2e6;
    box-shadow: none;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}
.product-tabs .tab-content p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #333;
    border: none;
    font-size: 40px;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.block-related .block-title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.block-related .owl-theme .owl-controls {
    top: -78px;
    right: 5px;
}
.block.block-related .owl-theme .owl-controls .owl-buttons div {
    font-size: 19px;
    width: 13px;
    position: relative;
    color: #21293c;
}
.block.block-related {
    padding: 0 20px;
}
.block.block-related .product {
    margin: 30px 0;
}
.block.block-related .product-name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.001em;
    color:#7a7d82;
    margin: 5px 0 0;
}
.block.block-related .product-name a{
    color:#7a7d82;
}
.block.block-related .col-xs-6 {
    width: 40%;
}
.block.block-related .product-details {
    width: 60%;
}
.product-tabs .tab-content .std ul li {
    line-height: 36px;
}
.bottom-container {
    background-color: #f4f4f4;
    padding: 60px 0 45px;
    margin-top: -60px;
}
.bottom-container .box-up-sell >h2,
.product-view .box-up-sell >h2 {
    background: none;
    font-size: 18px;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    color: #302e2a;
}
.bottom-container .box-up-sell >h2 span,
.product-view .box-up-sell >h2 span {
    background: none;
}
.block.block-related .product .product-image {
    padding: 0;
    border-color:#ececec;
}
.cart .discount h2:before, .cart .shipping h2:before {
    content: '\e81c';
    border: 0;
    color: #21293c;
    font-size: 17px;
    background-color: transparent;
}
.cart .discount h2:hover:before, .cart .shipping h2:hover:before {
    background-color: transparent;
    border: 0;
    color: #21293c;
}
.cart .discount h2.opened:before, .cart .shipping h2.opened:before {
    content: '\e81b';
}


.footer-top {
    text-align: left;
    padding: 15px 0 0;
}
.footer-top .footer-top-inner{
    border-bottom: 1px solid #2c2c2c;
}
.footer-top .block .block-title {
    margin-bottom: 13px;
    padding-top: 25px;
}
.footer-top .block .block-title strong {
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #fff;
}
.footer-container .validation-advice {position: absolute;}
.footer-top .input-box {
    width: 100%;
    max-width: 400px;
    float: left;
}
.footer-top .input-box input {
    background-color: #2c2c2c;
    color: #6b7074;
    height: 48px;
    border: none;
    font-size: 14px;
    padding-left: 15px;
    float: left;
    max-width: 370px;
    width: 95%;
    border-radius: 0;
    padding-right: 105px;
}
.footer-top .input-box button {
    float: left;
    width:120px;
    margin-left: -120px;
    border-left: solid 1px #3b3b3b;
}
.footer-top .input-box button span {
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    text-transform: uppercase;
    border-radius: 0;
    opacity: 1;
    background-color: #2c2c2c;
}
.footer-top .block-content {
    display: inline-block;
    vertical-align: middle;
}
.footer .social-icons {float: right}
.footer-top .social-icons a {
    background-image: none;
    background-color: #33332f;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 18.6px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-left: 0;
    margin-right: 4px;
    float: left;
    line-height: 46px;
}
.footer-middle {
    padding:24px 0;
}
.footer-middle .block .block-title {
    margin-bottom: 15px;
}
.footer-middle .block .block-title strong {
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
.footer-middle ul.links li,
.footer-middle ul.features li {
    padding: 6px 0;
}
.footer-middle .contact-info li:first-child{
    border-top-width: 0;
}
.footer-middle .contact-info li {
    padding: 12px 0;
}
.footer-middle .contact-info i {
    color: #e1ddc3 !important;
    font-size: 26px;
    line-height: 28px;
}
.footer-middle .contact-info p{
    line-height: 1;
}
.footer-middle .contact-info b {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
    display: inline-block;
    letter-spacing: 0.005em;
}
.footer-middle .block-bottom {
    border-top: 1px solid #2c2c2c;
    text-align: left;
    padding: 27px 0;
    overflow: hidden;
    margin-top: 32px;
}
.footer-middle .working span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.005em;
    line-height: 18px;
}
.footer-middle .working span b {
    text-transform: capitalize;
    color: #a8a8a8;
}
@media(max-width: 1199px){
    .footer .social-icons {
        float: left;
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    #banner-slider-demo-3-new .content {
        padding: 30px;
        top: 15% !important;
    }
    .masonry-grid .grid {
        width: 50%;
    }
    .masonry-grid .grid.double {
        width: 100%;
    }
    .masonry-grid .grid:last-child {
        width: 100%;
    }
    .masonry-grid .grid:last-child .item {
        width: 50%;
        float: left;
        padding: 1.5px;
    }
    .owl-middle-narrow .owl-controls {display:none !important;}
}
@media(max-width: 767px){
    #banner-slider-demo-3-new .content {
        padding: 25px;
        top: 15% !important;
    }
    #banner-slider-demo-3-new .content em {
        font-size: 12px !important;
    }
    #banner-slider-demo-3-new .content h2 {
        font-size: 30px;
    }
    #banner-slider-demo-3-new .content .btn-default {
        padding: 7px 15px;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .footer .social-icons {
        margin-top: 0;
        margin-left: 0;
    }
    .footer-middle .block {
        margin-bottom: 30px;
    }
    .footer-middle .working {
        margin: 20px 0;
        width: 100%;
    }
    .footer-middle .custom-block {
        float: left !important;
    }
}
@media(max-width: 480px){
    #banner-slider-demo-3-new .content {
        padding: 20px;
        top: 15% !important;
    }
    #banner-slider-demo-3-new .content em {
        font-size: 11px !important;
    }
    #banner-slider-demo-3-new .content h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #banner-slider-demo-3-new .content .btn-default {
        padding: 5px 15px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .masonry-grid .grid {
        width: 100%;
    }
    .masonry-grid .grid.double {
        width: 100%;
    }
    .masonry-grid .grid:last-child .item {
        width: 100%;
    }
    .footer .social-icons {
        margin-top: 20px;
        margin-left: 0;
    }
}.header-container.type19 .header #search_mini_form{
    width: 350px;
}